@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: black;
  color: white;
}

nav {
  background-color: black;
  position: sticky;
}
.populares {
  margin-top: 3rem;
}
.populares h1, .top-rated h1 {
  padding: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}
.filmes {
  display: flex;
  gap: 1rem;
  overflow: scroll;
}

.filmes img {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header img {
  width: 70%;
  box-shadow: 10px black;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 300px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.header::before {
  content: "";
  position: absolute;
  left: 30%;
  right: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
}
