nav {
    width: 100%;
    background-color: black;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.direita {
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.direita img {
    cursor: pointer;
}